In [33]:
## Install required packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from airtable import Airtable
import docx

In [88]:
from docx import Document
from docx.shared import Inches

def Create_QAR(QAR_data_table, quarter, year):
    '''Produces a Word document from table data for a Fiera Real Estate UK
    Quarterly Assset Review.
    
    Uses the columns as references.'''
    # Create the document object
    document = Document()
    
    # Set Core properties of the document
    document.core_properties.title = 'Fiera Real Estate UK: ' + QAR_data_table['Name']
    document.core_properties.author = 'David Bender'
    document.core_properties.comments = 'Provided with permission by Fiera Real Estate UK Limited, not for distribution'
    
    # Title and headers
    title = document.add_heading('', 1)
    t = title.add_run()
    t.add_picture('images/FREUK_logo.png', width=Inches(1.5))
    t.add_text('\t{} - {},{} Asset Overview'.format(QAR_data_table['Name'],quarter, year))
    
    # Save file
    path = 'testing_qars/{}.docx'.format(QAR_data_table['Name'])
    document.save(path)

In [89]:
test_table = pd.DataFrame({'Name':['Testing123','Heyo456']})
test_table

         Name
0  Testing123
1     Heyo456

In [90]:
for i in range(len(test_table)):
    Create_QAR(test_table.iloc[i],'Q2','2020')

In [63]:
document.save('test.docx')